/* If I ever want to use this as reference later, I'm making notes on individual CSS */

html {
    background-color: grey;
}

#flex-container { /* If you ever feel like it, try to find the answers to why these 3D declarations need to be on the parent element */
    --box-size: 10px; /* To make changing all 3D element sizes easy */
    margin-top: 20px;
    display: flex;
    height: calc(var(--box-size) * 15);
    flex-direction: column;
    align-items: center;
    perspective: 600px; /* Parent element of the transform, makes it so it doesn't remain the same size */
    position: relative;
    transform-style: preserve-3d; /* Parent element of the transform, so it obeys position instead of z-index */
    justify-content: space-between;
}

#centerpiece {
    position: absolute; /* Method I'm using to place an object on the normal flat plane outside of the 3D */
    height: inherit;
    width: 3px;
    background-color: rgba(186, 221, 252, 0.699); 
}

.box {
    width: var(--box-size);
    height: var(--box-size);
    background-color: white;
    transform: translatez(50px); /* xyz plane transforms place elements in 3D space and this makes it closer to the viewer. */
    animation-name: spin; /* Hopefully obvious */
    animation-iteration-count: infinite; /* Hopefully obvious */
    animation-timing-function: linear; /* Default has ease-in */
    transform-style: preserve-3d; /* Will be the parent to it's 3d helpers, perspective managed by grandparent */
}

#test {
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    width: var(--box-size);
    height: var(--box-size);
    background-color: white;
    transform-style: preserve-3d;
}

.box1 {
    animation-duration: 24s;
}

.box2 {
    animation-duration: 22s;
}

.box3 {
    animation-duration: 20s;
}

.box4 {
    animation-duration: 18s;
}

.box5 {
    animation-duration: 16s;
}

.box6 {
    animation-duration: 14s;
}

.box7 {
    animation-duration: 12s;
}

.box8 {
    animation-duration: 10s;
}

.depth-helper {
    background-color: inherit;
    box-sizing: content-box;
    border: .1px solid black;
    position: absolute; /* Prevents the 3d from pushing eachother around */
}

.front {
    width: inherit;
    height: inherit;
}

.top {
    height: calc(var(--box-size) / 5);
    width: inherit;
    transform: translate3d(0px, calc(var(--box-size) / -10), calc(var(--box-size) / 10));
    rotate: x 90deg;
}

.bottom {
    height: calc(var(--box-size) / 5);
    width: inherit;
    transform: translate3d(0px, calc(var(--box-size) / -10), calc(var(--box-size) * -1 - calc(var(--box-size) / -10)));
    rotate: x 90deg;
}

.right {
    height: inherit;
    width: calc(var(--box-size) / 5);
    transform: translate3d(calc(var(--box-size) / 10), 0px, calc(var(--box-size) - calc(var(--box-size) / 10)));
    rotate: y 90deg;
}

.left {
    height: inherit;
    width: calc(var(--box-size) / 5);
    transform: translate3d(calc(var(--box-size) / 10), 0px, calc(var(--box-size) / -10));
    rotate: y 90deg;
}

.back {
    height: var(--box-size);
    width: var(--box-size);
    transform: translatez(calc(var(--box-size) / -5));
}

@keyframes spin {
    from {
        rotate: y 0;
    }
    to {
        rotate: y 360deg;
    }
}